
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
  data-bs-target="#productModal">
    Hozzáad
  </button>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Név</th>
        <th>Cikkszám</th>
        <th>Mennyiség</th>
        <th>Ár</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td>{{ prod.id }}</td>
        <td>{{ prod.name }}</td>
        <td>{{ prod.itemnumber }}</td>
        <td>{{ prod.quantity }}</td>
        <td>{{ prod.price }}</td>
      </tr>
    </tbody>
  </table>






  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Termék hozzáadása</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

         
          <form [formGroup]="productForm">
            <div class="mb-3">
              <label for="inputName" class="form-label">Név</label>
              <input type="text" class="form-control" id="InputName"
              formControlName="inputName">              
            </div>
            <div class="mb-3">
              <label for="inputItemnumber" class="form-label">Cikkszám</label>
              <input type="text" class="form-control" id="inputItemnumber"
              formControlName="inputItemnumber">              
            </div>
            <div class="mb-3">
              <label for="inputQuantity" class="form-label">Mennyiség</label>
              <input type="text" class="form-control" id="inputQuantity"
              formControlName="inputQuantity">              
            </div>
            <div class="mb-3">
              <label for="inputPrice" class="form-label">Ár</label>
              <input type="text" class="form-control" id="inputPrice"
              formControlName="inputPrice">              
            </div>
          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
          data-bs-dismiss="modal">Bezárás</button>
          <button type="button" class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="onClick()">Mentés</button>
        </div>
      </div>
    </div>
  </div>